.wrapper {
  min-height: 36px;
  font-size: 1.6rem;
  padding: 6px 8px;
  min-width: 100px;
  font-weight: 700;
  border-radius: 4px;
  line-height: 21px;
  text-align: center;
  cursor: pointer;
  background-color: var(--white);
  border: 1px solid transparent;

  + .wrapper {
    margin-left: 16px;
  }

  &.disable {
    user-select: none;
    pointer-events: none;
    opacity: 0.5;
  }
}

//button types
.rounded {
  border-radius: 999px;
  box-shadow: 0 2px 8px rgb(0 0 0 / 6%);
  border-color: rgba(22, 24, 35, 0.12);

  &:hover {
    border-color: rgba(22, 24, 35, 0.12);
    background-color: rgba(22, 24, 35, 0.03);
  }
}

.outline {
  color: var(--primary);
  border-color: currentColor;

  &:hover {
    border-color: currentColor;
    background-color: rgba(254, 44, 85, 0.08);
  }
}

.primary {
  background-color: var(--primary);
  color: var(--white);

  &:hover {
    border-color: var(--primary);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)), rgb(254, 44, 85);
  }
  // color: red;
}

.text {
  min-width: 110px;
  border: 1px solid rgba(22, 24, 35, 0.12);
  background: rgb(255, 255, 255);

  &:hover {
    background-color: rgba(22, 24, 35, 0.03);
  }
}

//button size
.small {
  min-width: 88px;
  padding: 4px 16px;
}

.large {
  min-width: 140px;
  padding: 14px 16px;
}

//icon 
.icon + .title, .title + .icon{
  margin-left: 8px;
}
